# Stock Price Prediction Using Technical Indicators and Machine Learning

## Data cleaning

    This project aims to predict future stock prices (or stock price movement direction) by leveraging technical indicators derived from historical market data and applying machine learning algorithms for pattern recognition and forecasting.

    Steps 
1. [Retrieving the data](#retrieving-the-data)
   The step includes data explanation.
2. [Finding the indicators](#finding-indicators)
3. [New stock data](#New-stock-data)

### Retrieving the data

In [38]:
import yfinance as yf 
import ta
from datetime import datetime
import numpy as np

In [39]:
end_date = datetime.now().strftime("%Y-%m-%d") # strftime = format object to string
df = yf.download('AMD', start='2015-01-01', end=end_date)
df

C:\Users\thees\AppData\Local\Temp\ipykernel_29088\3510011171.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download('AMD', start='2015-01-01', end=end_date)
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker             AMD         AMD         AMD         AMD        AMD
Date
2015-01-02    2.670000    2.670000    2.670000    2.670000          0
2015-01-05    2.660000    2.700000    2.640000    2.670000    8878200
2015-01-06    2.630000    2.660000    2.550000    2.650000   13912500
2015-01-07    2.580000    2.650000    2.540000    2.630000   12377600
2015-01-08    2.610000    2.650000    2.560000    2.590000   11136600
...                ...         ...         ...         ...        ...
2025-11-10  243.979996  248.899994  240.500000  242.139999   43361600
2025-11-11  237.520004  248.460007  234.639999  241.660004   61336800
2025-11-12  258.890015  263.510010  250.000000  253.130005  108942000
2025-11-13  247.960007  259.630005  246.059998  251.899994   63025700
2025-11-14  252.962906  253.149994  235.100006  239.850006   29789704

[2735 rows x 5 columns]

In [40]:
df.columns

MultiIndex([( 'Close', 'AMD'),
            (  'High', 'AMD'),
            (   'Low', 'AMD'),
            (  'Open', 'AMD'),
            ('Volume', 'AMD')],
           names=['Price', 'Ticker'])

In [41]:
df.columns = df.columns.droplevel('Ticker')

In [42]:
df.columns

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

In [43]:
df = ta.add_all_ta_features(df, open="Open", high="High", 
                             low="Low", close="Close", volume="Volume")
df

C:\Users\thees\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:1030: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  self._psar[i] = high2

Price,Close,High,Low,Open,Volume,volume_adi,volume_obv,volume_cmf,volume_fi,volume_em,...,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,momentum_pvo,momentum_pvo_signal,momentum_pvo_hist,momentum_kama,others_dr,others_dlr,others_cr
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,2.670000,2.670000,2.670000,2.670000,0,0.000000e+00,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-05,2.660000,2.700000,2.640000,2.670000,8878200,-2.959400e+06,-8878200,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.374531,-0.375235,-0.374531
2015-01-06,2.630000,2.660000,2.550000,2.650000,13912500,3.364480e+06,-22790700,NaN,NaN,-0.051393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.127818,-1.134227,-1.498126
2015-01-07,2.580000,2.650000,2.540000,2.630000,12377600,-1.124852e+04,-35168300,NaN,NaN,-0.008887,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.901148,-1.919452,-3.370792
2015-01-08,2.610000,2.650000,2.560000,2.590000,11136600,1.226119e+06,-24031700,NaN,NaN,0.008081,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.162790,1.156081,-2.247198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-10,243.979996,248.899994,240.500000,242.139999,43361600,3.546965e+09,8132971500,0.146135,4.876832e+06,279.828026,...,5.224229,7.227938,-2.003710,-7.947323,-6.814983,-1.132341,244.269681,4.470327,4.373290,9037.827294
2025-11-11,237.520004,248.460007,234.639999,241.660004,61336800,3.511192e+09,8071634700,0.148372,-5.242489e+07,-70.973606,...,4.567162,6.695783,-2.128621,-6.385125,-6.729011,0.343886,243.923546,-2.647755,-2.683439,8795.880056
2025-11-12,258.890015,263.510010,250.000000,253.130005,108942000,3.545625e+09,8180576700,0.089607,2.876489e+08,188.558796,...,4.698544,6.296335,-1.597791,1.236951,-5.135819,6.372770,244.074465,8.997141,8.615147,9596.254953
2025-11-13,247.960007,259.630005,246.059998,251.899994,63025700,3.500248e+09,8117551000,0.079703,1.481460e+08,-84.185941,...,4.388535,5.914775,-1.526240,1.071027,-3.894450,4.965476,244.120812,-4.221873,-4.313585,9186.891372
2025-11-14,252.962906,253.149994,235.100006,239.850006,29789704,3.529421e+09,8147340704,0.088612,1.482730e+08,-528.356762,...,4.256882,5.583197,-1.326314,-3.423047,-3.800169,0.377122,244.183553,2.017623,1.997539,9374.265867

In [44]:
df.columns

Index(['Close', 'High', 'Low', 'Open', 'Volume', 'volume_adi', 'volume_obv',
       'volume_cmf', 'volume_fi', 'volume_em', 'volume_sma_em', 'volume_vpt',
       'volume_vwap', 'volume_mfi', 'volume_nvi', 'volatility_bbm',
       'volatility_bbh', 'volatility_bbl', 'volatility_bbw', 'volatility_bbp',
       'volatility_bbhi', 'volatility_bbli', 'volatility_kcc',
       'volatility_kch', 'volatility_kcl', 'volatility_kcw', 'volatility_kcp',
       'volatility_kchi', 'volatility_kcli', 'volatility_dcl',
       'volatility_dch', 'volatility_dcm', 'volatility_dcw', 'volatility_dcp',
       'volatility_atr', 'volatility_ui', 'trend_macd', 'trend_macd_signal',
       'trend_macd_diff', 'trend_sma_fast', 'trend_sma_slow', 'trend_ema_fast',
       'trend_ema_slow', 'trend_vortex_ind_pos', 'trend_vortex_ind_neg',
       'trend_vortex_ind_diff', 'trend_trix', 'trend_mass_index', 'trend_dpo',
       'trend_kst', 'trend_kst_sig', 'trend_kst_diff', 'trend_ichimoku_conv',
       'trend_ichimoku_base', 'trend_ichimoku_a', 'trend_ichimoku_b',
       'trend_stc', 'trend_adx', 'trend_adx_pos', 'trend_adx_neg', 'trend_cci',
       'trend_visual_ichimoku_a', 'trend_visual_ichimoku_b', 'trend_aroon_up',
       'trend_aroon_down', 'trend_aroon_ind', 'trend_psar_up',
       'trend_psar_down', 'trend_psar_up_indicator',
       'trend_psar_down_indicator', 'momentum_rsi', 'momentum_stoch_rsi',
       'momentum_stoch_rsi_k', 'momentum_stoch_rsi_d', 'momentum_tsi',
       'momentum_uo', 'momentum_stoch', 'momentum_stoch_signal', 'momentum_wr',
       'momentum_ao', 'momentum_roc', 'momentum_ppo', 'momentum_ppo_signal',
       'momentum_ppo_hist', 'momentum_pvo', 'momentum_pvo_signal',
       'momentum_pvo_hist', 'momentum_kama', 'others_dr', 'others_dlr',
       'others_cr'],
      dtype='object', name='Price')

### finding indicators

#### Technical Analysis Indicators

##### 1. Momentum Indicators  
*Answer: "Is it overbought/oversold?"*

| Indicator | Description |
|-----------|-------------|
| `momentum_rsi` | Shows if stock is overbought (>70) or oversold (<30) |
| `momentum_stoch` | Similar to RSI, compares current price to recent range |
| `momentum_roc` | Measures how fast the price is changing (Rate of Change) |
| `momentum_wr` | Williams %R, like RSI but inverted |

---

##### 2. Trend Indicators  
*Answer: "Which direction is it going?"*

| Indicator | Description |
|-----------|-------------|
| `trend_macd` | Shows trend strength and direction |
| `trend_macd_signal` | Crossover signal for MACD |
| `trend_ema_fast` | Short-term trend (reacts quickly) |
| `trend_ema_slow` | Long-term trend (smooth, less sensitive) |

---

##### 3. Volatility Indicators  
*Answer: "How much is it moving?"*

| Indicator | Description |
|-----------|-------------|
| `volatility_bbh` | Upper Bollinger Band (resistance level) |
| `volatility_bbl` | Lower Bollinger Band (support level) |
| `volatility_atr` | Average True Range (measures how much price swings) |

In [45]:
selected_features = [
    'Close', 'Open', 'High', 'Low', 'Volume',
    
    # Momentum indicators (4)
    'momentum_rsi',           # RSI - most famous momentum indicator
    'momentum_stoch',         # Stochastic Oscillator
    'momentum_roc',           # Rate of Change
    'momentum_wr',            # Williams %R
    
    # Trend indicators (4)
    'trend_macd',             # MACD - most famous trend indicator
    'trend_macd_signal',      # MACD signal line
    'trend_ema_fast',         # Fast moving average
    'trend_ema_slow',         # Slow moving average
    
    # Volatility indicators (3)
    'volatility_bbh',         # Bollinger Band High
    'volatility_bbl',         # Bollinger Band Low
    'volatility_atr',         # Average True Range
]

In [46]:
df_model = df[selected_features].copy()
df_model

Price,Close,Open,High,Low,Volume,momentum_rsi,momentum_stoch,momentum_roc,momentum_wr,trend_macd,trend_macd_signal,trend_ema_fast,trend_ema_slow,volatility_bbh,volatility_bbl,volatility_atr
Date,,,,,,,,,,,,,,,,
2015-01-02,2.670000,2.670000,2.670000,2.670000,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-05,2.660000,2.670000,2.700000,2.640000,8878200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-06,2.630000,2.650000,2.660000,2.550000,13912500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-07,2.580000,2.630000,2.650000,2.540000,12377600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-08,2.610000,2.590000,2.650000,2.560000,11136600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-10,243.979996,242.139999,248.899994,240.500000,43361600,56.150155,45.570222,3.825690,-54.429778,12.174842,16.326362,245.220570,233.045727,269.247469,220.280528,12.836743
2025-11-11,237.520004,241.660004,248.460007,234.639999,61336800,52.638648,30.348748,-6.088879,-69.651252,10.658712,15.192832,244.035867,233.377155,267.272901,224.198096,12.935070
2025-11-12,258.890015,253.130005,263.510010,250.000000,108942000,61.267867,80.702228,-0.300381,-19.297772,11.054124,14.365090,246.321121,235.266997,268.753819,224.746180,14.240563
2025-11-13,247.960007,251.899994,259.630005,246.059998,63025700,55.679988,54.948196,-3.895199,-45.051804,10.366037,13.565280,246.573257,236.207220,268.702529,226.137470,14.173508
2025-11-14,252.962906,239.850006,253.149994,235.100006,29789704,57.586772,66.736369,-4.300337,-33.263631,10.107898,12.873803,247.556280,237.448382,268.761391,228.066899,14.561156

In [47]:
df[selected_features].isna().sum()
# the NaN values seem to be only at the beginning

Price
Close                 0
Open                  0
High                  0
Low                   0
Volume                0
momentum_rsi         13
momentum_stoch       13
momentum_roc         12
momentum_wr          13
trend_macd           25
trend_macd_signal    33
trend_ema_fast       11
trend_ema_slow       25
volatility_bbh       19
volatility_bbl       19
volatility_atr        0
dtype: int64

In [48]:
df[selected_features].head(35)

Price,Close,Open,High,Low,Volume,momentum_rsi,momentum_stoch,momentum_roc,momentum_wr,trend_macd,trend_macd_signal,trend_ema_fast,trend_ema_slow,volatility_bbh,volatility_bbl,volatility_atr
Date,,,,,,,,,,,,,,,,
2015-01-02,2.67,2.67,2.67,2.67,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-05,2.66,2.67,2.70,2.64,8878200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-06,2.63,2.65,2.66,2.55,13912500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-07,2.58,2.63,2.65,2.54,12377600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-08,2.61,2.59,2.65,2.56,11136600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-09,2.63,2.63,2.64,2.58,8907600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-12,2.63,2.62,2.64,2.55,9979600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-13,2.66,2.64,2.68,2.60,17907400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-14,2.63,2.60,2.66,2.58,9989900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-15,2.52,2.62,2.65,2.49,17744000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.084000
2015-01-16,2.39,2.52,2.53,2.39,30192400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.089600
2015-01-20,2.24,2.39,2.43,2.19,56713300,NaN,NaN,NaN,NaN,NaN,NaN,2.533266,NaN,NaN,NaN,0.104640
2015-01-21,2.45,2.18,2.45,2.14,46530800,NaN,NaN,-8.239701,NaN,NaN,NaN,2.520456,NaN,NaN,NaN,0.125176
2015-01-22,2.47,2.42,2.50,2.37,36169600,40.871477,58.928564,-7.142859,-41.071436,NaN,NaN,2.512694,NaN,NaN,NaN,0.125658
2015-01-23,2.45,2.48,2.50,2.43,11107200,39.536368,55.357138,-6.844109,-44.642862,NaN,NaN,2.503048,NaN,NaN,NaN,0.120093
2015-01-26,2.61,2.44,2.64,2.44,36571300,52.815514,87.037004,1.162790,-12.962996,NaN,NaN,2.519503,NaN,NaN,NaN,0.128083
2015-01-27,2.70,2.58,2.84,2.56,51805800,58.355874,80.000014,3.448282,-19.999986,NaN,NaN,2.547271,NaN,NaN,NaN,0.143275
2015-01-28,2.63,2.71,2.75,2.60,24786200,53.130452,70.000020,0.000000,-29.999980,NaN,NaN,2.559999,NaN,NaN,NaN,0.143948
2015-01-29,2.61,2.63,2.69,2.51,17790200,51.705835,67.142845,-0.760465,-32.857155,NaN,NaN,2.567691,NaN,NaN,NaN,0.147553
2015-01-30,2.57,2.56,2.60,2.51,12908200,48.882776,61.428564,-3.383464,-38.571436,NaN,NaN,2.568047,NaN,2.789899,2.344101,0.142797
2015-02-02,2.67,2.69,2.75,2.65,25688700,55.433834,75.714302,1.520911,-24.285698,NaN,NaN,2.583732,NaN,2.789899,2.344101,0.146518
2015-02-03,2.76,2.70,2.80,2.68,22592300,60.357931,88.571436,9.523810,-11.428564,NaN,NaN,2.610850,NaN,2.807168,2.336832,0.144866
2015-02-04,2.85,2.78,2.92,2.76,34829300,64.573310,91.025619,19.246853,-8.974381,NaN,NaN,2.647642,NaN,2.846826,2.319174,0.146379
2015-02-05,3.31,2.88,3.37,2.87,73355600,77.653049,95.121955,47.767854,-4.878045,NaN,NaN,2.749543,NaN,3.031785,2.207215,0.183741
2015-02-06,3.03,3.20,3.21,3.00,38300000,62.521520,72.357726,23.673466,-27.642274,NaN,NaN,2.792691,NaN,3.089832,2.191168,0.196367
2015-02-09,3.04,3.03,3.07,2.93,24133800,62.800318,73.170733,23.076920,-26.829267,0.106849,NaN,2.830738,2.723889,3.142784,2.179216,0.190731
2015-02-10,3.04,3.07,3.10,3.01,13995100,62.800318,67.000008,24.081629,-32.999992,0.115627,NaN,2.862932,2.747305,3.190392,2.172608,0.180657
2015-02-11,3.07,3.03,3.10,3.00,11741100,63.738831,68.085105,17.624523,-31.914895,0.123581,NaN,2.894789,2.771208,3.238082,2.165918,0.172592
2015-02-12,3.12,3.08,3.15,3.05,12975000,65.309709,73.118275,15.555549,-26.881725,0.132392,NaN,2.929437,2.797045,3.291204,2.161796,0.165333
2015-02-13,3.15,3.13,3.18,3.11,9627600,66.254331,74.418626,19.771862,-25.581374,0.140180,NaN,2.963370,2.823189,3.343033,2.172967,0.155799
2015-02-17,3.11,3.16,3.17,3.08,8678100,63.761288,69.767439,19.157089,-30.232561,0.141493,NaN,2.985928,2.844435,3.372598,2.215402,0.149219
2015-02-18,3.08,3.11,3.14,3.06,7286100,61.880614,66.279070,19.844358,-33.720930,0.138517,NaN,3.000401,2.861884,3.367692,2.304308,0.142297
2015-02-19,3.06,3.06,3.08,3.01,6573600,60.597387,63.953491,14.606736,-36.046509,0.133011,NaN,3.009570,2.876559,3.375628,2.357372,0.135068
2015-02-20,3.06,3.03,3.13,3.02,10666700,60.597387,56.944440,10.869564,-43.055560,0.127181,0.128352,3.017328,2.890147,3.377431,2.414569,0.132561
2015-02-23,3.06,3.05,3.10,3.03,6323500,60.597387,55.072460,7.368423,-44.927540,0.121164,0.126915,3.023893,2.902729,3.366558,2.486442,0.126305

In [49]:
df_model = df_model.dropna() # safe to drop since the it will not break the timeline
df_model

Price,Close,Open,High,Low,Volume,momentum_rsi,momentum_stoch,momentum_roc,momentum_wr,trend_macd,trend_macd_signal,trend_ema_fast,trend_ema_slow,volatility_bbh,volatility_bbl,volatility_atr
Date,,,,,,,,,,,,,,,,
2015-02-20,3.060000,3.030000,3.130000,3.020000,10666700,60.597387,56.944440,10.869564,-43.055560,0.127181,0.128352,3.017328,2.890147,3.377431,2.414569,0.132561
2015-02-23,3.060000,3.050000,3.100000,3.030000,6323500,60.597387,55.072460,7.368423,-44.927540,0.121164,0.126915,3.023893,2.902729,3.366558,2.486442,0.126305
2015-02-24,3.110000,3.060000,3.120000,3.020000,10916300,62.993571,57.377043,-6.042298,-42.622957,0.119058,0.125343,3.037140,2.918082,3.373224,2.529776,0.123674
2015-02-25,3.100000,3.080000,3.140000,3.060000,6151300,62.179140,46.000004,2.310229,-53.999996,0.115253,0.123325,3.046811,2.931558,3.381391,2.561609,0.119307
2015-02-26,3.080000,3.100000,3.130000,3.060000,8680900,60.494568,53.571383,1.315788,-46.428617,0.109363,0.120533,3.051917,2.942554,3.374810,2.613190,0.114376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-10,243.979996,242.139999,248.899994,240.500000,43361600,56.150155,45.570222,3.825690,-54.429778,12.174842,16.326362,245.220570,233.045727,269.247469,220.280528,12.836743
2025-11-11,237.520004,241.660004,248.460007,234.639999,61336800,52.638648,30.348748,-6.088879,-69.651252,10.658712,15.192832,244.035867,233.377155,267.272901,224.198096,12.935070
2025-11-12,258.890015,253.130005,263.510010,250.000000,108942000,61.267867,80.702228,-0.300381,-19.297772,11.054124,14.365090,246.321121,235.266997,268.753819,224.746180,14.240563
2025-11-13,247.960007,251.899994,259.630005,246.059998,63025700,55.679988,54.948196,-3.895199,-45.051804,10.366037,13.565280,246.573257,236.207220,268.702529,226.137470,14.173508
2025-11-14,252.962906,239.850006,253.149994,235.100006,29789704,57.586772,66.736369,-4.300337,-33.263631,10.107898,12.873803,247.556280,237.448382,268.761391,228.066899,14.561156

In [50]:
import os
file_path = os.path.join("../data", "amd_data.csv")

if not os.path.exists(file_path):
    df_model.to_csv(file_path, index=True)
    print(f"Data saved to {file_path}")
else:
    print(f"File already exists: {file_path}")

File already exists: ../data\amd_data.csv

## New stock data

In [51]:
end_date = datetime.now().strftime("%Y-%m-%d") # strftime = format object to string
df_cvx = yf.download('CVX', start='2015-01-01', end=end_date)
df_cvx

C:\Users\thees\AppData\Local\Temp\ipykernel_29088\1896897571.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df_cvx = yf.download('CVX', start='2015-01-01', end=end_date)
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker             CVX         CVX         CVX         CVX       CVX
Date
2015-01-02   70.993706   71.258559   69.902754   70.394626   5898800
2015-01-05   68.155968   70.123457   67.752380   69.972113  11758100
2015-01-06   68.124428   68.748727   67.146990   68.023533  11591600
2015-01-07   68.067673   69.196459   67.796512   68.893766  10353800
2015-01-08   69.625275   69.644192   68.483873   68.855934   8650800
...                ...         ...         ...         ...       ...
2025-11-10  155.649994  155.979996  152.369995  155.419998   8436800
2025-11-11  156.240005  157.990005  155.899994  156.750000   6361400
2025-11-12  153.320007  155.789993  152.080002  155.580002  11670900
2025-11-13  155.580002  156.199997  153.929993  154.000000   7995800
2025-11-14  156.639999  157.214996  154.809998  156.229996   2748790

[2735 rows x 5 columns]

In [52]:
df_cvx.info

<bound method DataFrame.info of Price            Close        High         Low        Open    Volume
Ticker             CVX         CVX         CVX         CVX       CVX
Date
2015-01-02   70.993706   71.258559   69.902754   70.394626   5898800
2015-01-05   68.155968   70.123457   67.752380   69.972113  11758100
2015-01-06   68.124428   68.748727   67.146990   68.023533  11591600
2015-01-07   68.067673   69.196459   67.796512   68.893766  10353800
2015-01-08   69.625275   69.644192   68.483873   68.855934   8650800
...                ...         ...         ...         ...       ...
2025-11-10  155.649994  155.979996  152.369995  155.419998   8436800
2025-11-11  156.240005  157.990005  155.899994  156.750000   6361400
2025-11-12  153.320007  155.789993  152.080002  155.580002  11670900
2025-11-13  155.580002  156.199997  153.929993  154.000000   7995800
2025-11-14  156.639999  157.214996  154.809998  156.229996   2748790

[2735 rows x 5 columns]>

In [59]:
df_cvx.columns

MultiIndex([( 'Close', 'CVX'),
            (  'High', 'CVX'),
            (   'Low', 'CVX'),
            (  'Open', 'CVX'),
            ('Volume', 'CVX')],
           names=['Price', 'Ticker'])

In [60]:
df_cvx.columns = df_cvx.columns.droplevel('Ticker')

In [61]:
df_cvx = ta.add_all_ta_features(df_cvx, open="Open", high="High", 
                             low="Low", close="Close", volume="Volume")
df_cvx

C:\Users\thees\AppData\Local\Programs\Python\Python310\lib\site-packages\ta\trend.py:1030: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  self._psar[i] = high2

Price,Close,High,Low,Open,Volume,volume_adi,volume_obv,volume_cmf,volume_fi,volume_em,...,momentum_ppo,momentum_ppo_signal,momentum_ppo_hist,momentum_pvo,momentum_pvo_signal,momentum_pvo_hist,momentum_kama,others_dr,others_dlr,others_cr
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,70.993706,71.258559,69.902754,70.394626,5898800,3.594164e+06,5898800,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-05,68.155968,70.123457,67.752380,69.972113,11758100,-4.161176e+06,-5859300,NaN,NaN,-33.126606,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.997168,-4.079250,-3.997168
2015-01-06,68.124428,68.748727,67.146990,68.023533,11591600,-1.605552e+06,-17450900,NaN,NaN,-13.680726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.046276,-0.046287,-4.041595
2015-01-07,68.067673,69.196459,67.796512,68.893766,10353800,-7.948420e+06,-27804700,NaN,NaN,7.418034,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.083311,-0.083346,-4.121539
2015-01-08,69.625275,69.644192,68.483873,68.855934,8650800,4.203006e+05,-19153900,NaN,NaN,7.612427,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.288314,2.262525,-1.927539
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-10,155.649994,155.979996,152.369995,155.419998,8436800,3.318800e+08,764031200,-0.133514,2.955124e+06,-26.742964,...,-0.045445,-0.113800,0.068355,4.544900,1.850018,2.694882,154.076470,0.406392,0.405569,119.244780
2025-11-11,156.240005,157.990005,155.899994,156.750000,6361400,3.275884e+08,770392600,-0.183704,3.069149e+06,91.007342,...,0.051607,-0.080719,0.132325,2.810536,2.042121,0.768414,154.123268,0.379063,0.378346,120.075856
2025-11-12,153.320007,155.789993,152.080002,155.580002,11670900,3.237192e+08,758721700,-0.189829,-2.237730e+06,-95.683128,...,-0.023634,-0.069302,0.045668,6.902813,3.014260,3.888553,154.110449,-1.868918,-1.886603,115.962818
2025-11-13,155.580002,156.199997,153.929993,154.000000,7995800,3.273473e+08,766717500,-0.168688,6.634402e+05,32.080575,...,0.034312,-0.048579,0.082891,6.239421,3.659292,2.580129,154.136582,1.474038,1.463279,119.146191
2025-11-14,156.639999,157.214996,154.809998,156.229996,2748790,3.287817e+08,769466290,-0.158439,9.849074e+05,82.899802,...,0.133873,-0.012089,0.145961,0.187742,2.964982,-2.777240,154.165901,0.681320,0.679009,120.639277

In [63]:
df_cvx_fin = df_cvx[selected_features].copy()
df_cvx_fin

Price,Close,Open,High,Low,Volume,momentum_rsi,momentum_stoch,momentum_roc,momentum_wr,trend_macd,trend_macd_signal,trend_ema_fast,trend_ema_slow,volatility_bbh,volatility_bbl,volatility_atr
Date,,,,,,,,,,,,,,,,
2015-01-02,70.993706,70.394626,71.258559,69.902754,5898800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-05,68.155968,69.972113,70.123457,67.752380,11758100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-06,68.124428,68.023533,68.748727,67.146990,11591600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-07,68.067673,68.893766,69.196459,67.796512,10353800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2015-01-08,69.625275,68.855934,69.644192,68.483873,8650800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-10,155.649994,155.419998,155.979996,152.369995,8436800,53.239339,49.786637,-0.581249,-50.213363,-0.070210,-0.175718,154.424765,154.494975,157.296590,151.173411,2.777239
2025-11-11,156.240005,156.750000,157.990005,155.899994,6361400,54.748215,58.179407,0.437135,-41.820593,0.079796,-0.124615,154.704033,154.624237,157.485001,151.370001,2.733517
2025-11-12,153.320007,155.580002,155.789993,152.080002,11670900,46.714264,17.464889,-1.262230,-82.535111,-0.036521,-0.106997,154.491106,154.527627,157.404303,151.571700,2.876165
2025-11-13,155.580002,154.000000,156.199997,153.929993,7995800,52.521455,49.295838,0.940762,-50.704162,0.053048,-0.074988,154.658628,154.605581,157.336701,152.026301,2.876548
2025-11-14,156.639999,156.229996,157.214996,154.809998,2748790,54.998664,64.225401,0.992903,-35.774599,0.207176,-0.018555,154.963455,154.756278,157.538593,152.180409,2.829393

In [65]:
df_cvx_fin[selected_features].isna().sum()

Price
Close                 0
Open                  0
High                  0
Low                   0
Volume                0
momentum_rsi         13
momentum_stoch       13
momentum_roc         12
momentum_wr          13
trend_macd           25
trend_macd_signal    33
trend_ema_fast       11
trend_ema_slow       25
volatility_bbh       19
volatility_bbl       19
volatility_atr        0
dtype: int64

In [66]:
df_cvx_fin = df_cvx_fin.dropna()
df_cvx_fin

Price,Close,Open,High,Low,Volume,momentum_rsi,momentum_stoch,momentum_roc,momentum_wr,trend_macd,trend_macd_signal,trend_ema_fast,trend_ema_slow,volatility_bbh,volatility_bbl,volatility_atr
Date,,,,,,,,,,,,,,,,
2015-02-20,69.156708,69.048453,69.328647,68.456226,7610600,50.513635,60.499211,0.125072,-39.500789,0.479129,0.391771,69.538001,69.058872,72.460901,64.798691,1.467479
2015-02-23,68.685463,68.640887,69.093016,68.360693,6724000,48.319604,23.004200,0.525757,-76.995800,0.375629,0.388542,69.406842,69.031212,72.483022,64.907084,1.400332
2015-02-24,68.749138,68.704562,68.927442,68.354319,5708400,48.644191,24.522729,-0.264704,-75.477271,0.295339,0.369902,69.305657,69.010318,72.487492,64.911483,1.317611
2015-02-25,69.143959,68.851031,69.271317,68.621782,4806500,50.711323,26.166406,0.033533,-73.833594,0.260563,0.348034,69.280780,69.020217,72.530541,64.955883,1.250804
2015-02-26,68.176025,68.704572,68.723676,67.883097,5903100,45.839937,7.266975,-2.099253,-92.733025,0.153133,0.309054,69.110818,68.957685,72.359935,65.404071,1.251810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-11-10,155.649994,155.419998,155.979996,152.369995,8436800,53.239339,49.786637,-0.581249,-50.213363,-0.070210,-0.175718,154.424765,154.494975,157.296590,151.173411,2.777239
2025-11-11,156.240005,156.750000,157.990005,155.899994,6361400,54.748215,58.179407,0.437135,-41.820593,0.079796,-0.124615,154.704033,154.624237,157.485001,151.370001,2.733517
2025-11-12,153.320007,155.580002,155.789993,152.080002,11670900,46.714264,17.464889,-1.262230,-82.535111,-0.036521,-0.106997,154.491106,154.527627,157.404303,151.571700,2.876165
2025-11-13,155.580002,154.000000,156.199997,153.929993,7995800,52.521455,49.295838,0.940762,-50.704162,0.053048,-0.074988,154.658628,154.605581,157.336701,152.026301,2.876548
2025-11-14,156.639999,156.229996,157.214996,154.809998,2748790,54.998664,64.225401,0.992903,-35.774599,0.207176,-0.018555,154.963455,154.756278,157.538593,152.180409,2.829393

In [67]:
import os
file_path = os.path.join("../data", "cvx_data.csv")

if not os.path.exists(file_path):
    df_model.to_csv(file_path, index=True)
    print(f"Data saved to {file_path}")
else:
    print(f"File already exists: {file_path}")

Data saved to ../data\cvx_data.csv